<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
     <strong>Text:</strong>
    <%= @article.text
    %>
</p>

#comment to TA : I played around with the ids a bit
#so the id 1 and 2 have the same thing: (First Article)
#id 3 is the second article, id 4 is the third article
#id 5,6 and 7 have the fourth article
#I know how ids work I just wanted to try different stuff and learn through them
#Thanks!